.menu-cont {
  background-color: #482604;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.menu-cont a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  position: relative;
  font-family: "Apple Chancery", cursive;
  display: flex;
}

.menu-cont a:hover {
  color: white;
}

.menu-cont a.active::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 20px;
  top: 60px;
  background-color: #da603b;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.parte-nav{
    border-right: 1.5px solid;
}
